{
  ApplicationName = "ModelBuilder";
  ApplicationDescription = "Core Data model editor for .xcdatamodeld";
  ApplicationRelease = "1.0";
  NSExecutable = "ModelBuilder";
  NSRole = "Editor";
  NSPrincipalClass = NSApplication;
  NSMainNibFile = "MainMenu";
  NSHumanReadableCopyright = "Copyright (c) 2026 the GNUstep CoreData port contributors. MIT.";
  NSTypes = (
    {
      NSName = "Core Data Model";
      NSHumanReadableName = "Core Data Model";
      NSUnixExtensions = ("xcdatamodeld");
      NSRole = Editor;
      NSDocumentClass = MBDocument;
    },
    {
      NSName = "Core Data Model Version";
      NSHumanReadableName = "Core Data Model Version";
      NSUnixExtensions = ("xcdatamodel");
      NSRole = Editor;
      NSDocumentClass = MBDocument;
    }
  );
}
